# Airbnb Visualization Project

In this notebook, I'll be exploring the Airbnb dataset to gain insights into how popular NYC Airbnbs are.

In [1]:
import numpy as np
import pandas as pd

In [2]:
df = pd.read_csv('./data/Airbnb_Open_Data.csv')
df.head()

C:\Users\Matthew\AppData\Local\Temp\ipykernel_112496\1125398166.py:1: DtypeWarning: Columns (25) have mixed types. Specify dtype option on import or set low_memory=False.
  df = pd.read_csv('./data/Airbnb_Open_Data.csv')

,id,NAME,host id,host_identity_verified,host name,neighbourhood group,neighbourhood,lat,long,country,...,service fee,minimum nights,number of reviews,last review,reviews per month,review rate number,calculated host listings count,availability 365,house_rules,license
0,1001254,Clean & quiet apt home by the park,80014485718,unconfirmed,Madaline,Brooklyn,Kensington,40.64749,-73.97237,United States,...,$193,10.0,9.0,10/19/2021,0.21,4.0,6.0,286.0,Clean up and treat the home the way you'd like...,NaN
1,1002102,Skylit Midtown Castle,52335172823,verified,Jenna,Manhattan,Midtown,40.75362,-73.98377,United States,...,$28,30.0,45.0,5/21/2022,0.38,4.0,2.0,228.0,Pet friendly but please confirm with me if the...,NaN
2,1002403,THE VILLAGE OF HARLEM....NEW YORK !,78829239556,NaN,Elise,Manhattan,Harlem,40.80902,-73.94190,United States,...,$124,3.0,0.0,NaN,NaN,5.0,1.0,352.0,"I encourage you to use my kitchen, cooking and...",NaN
3,1002755,NaN,85098326012,unconfirmed,Garry,Brooklyn,Clinton Hill,40.68514,-73.95976,United States,...,$74,30.0,270.0,7/5/2019,4.64,4.0,1.0,322.0,NaN,NaN
4,1003689,Entire Apt: Spacious Studio/Loft by central park,92037596077,verified,Lyndon,Manhattan,East Harlem,40.79851,-73.94399,United States,...,$41,10.0,9.0,11/19/2018,0.10,3.0,1.0,289.0,"Please no smoking in the house, porch or on th...",NaN

In [6]:
df.columns

Index(['id', 'NAME', 'host id', 'host_identity_verified', 'host name',
       'neighbourhood group', 'neighbourhood', 'lat', 'long', 'country',
       'country code', 'instant_bookable', 'cancellation_policy', 'room type',
       'Construction year', 'price', 'service fee', 'minimum nights',
       'number of reviews', 'last review', 'reviews per month',
       'review rate number', 'calculated host listings count',
       'availability 365', 'house_rules', 'license'],
      dtype='object')

In [15]:
print(df.count())

id                                102599
NAME                              102349
host id                           102599
host_identity_verified            102310
host name                         102193
neighbourhood group               102570
neighbourhood                     102583
lat                               102591
long                              102591
country                           102067
country code                      102468
instant_bookable                  102494
cancellation_policy               102523
room type                         102599
Construction year                 102385
price                             102352
service fee                       102326
minimum nights                    102190
number of reviews                 102416
last review                        86706
reviews per month                  86720
review rate number                102273
calculated host listings count    102280
availability 365                  102151
house_rules                        50468
license                                2
dtype: int64

In [16]:
print(df.isna().sum())

id                                     0
NAME                                 250
host id                                0
host_identity_verified               289
host name                            406
neighbourhood group                   29
neighbourhood                         16
lat                                    8
long                                   8
country                              532
country code                         131
instant_bookable                     105
cancellation_policy                   76
room type                              0
Construction year                    214
price                                247
service fee                          273
minimum nights                       409
number of reviews                    183
last review                        15893
reviews per month                  15879
review rate number                   326
calculated host listings count       319
availability 365                     448
house_rules                        52131
license                           102597
dtype: int64

In [17]:
df = df.drop(columns=['license'])
df.columns

Index(['id', 'NAME', 'host id', 'host_identity_verified', 'host name',
       'neighbourhood group', 'neighbourhood', 'lat', 'long', 'country',
       'country code', 'instant_bookable', 'cancellation_policy', 'room type',
       'Construction year', 'price', 'service fee', 'minimum nights',
       'number of reviews', 'last review', 'reviews per month',
       'review rate number', 'calculated host listings count',
       'availability 365', 'house_rules'],
      dtype='object')

In [18]:
df['neighbourhood group'].value_counts()

neighbourhood group
Manhattan        43792
Brooklyn         41842
Queens           13267
Bronx             2712
Staten Island      955
brookln              1
manhatan             1
Name: count, dtype: int64

In [19]:
df['neighbourhood group'] = df['neighbourhood group'].str.replace("brookln", "Brooklyn")
df['neighbourhood group'] = df['neighbourhood group'].str.replace("manhatan", "Manhattan")
df['neighbourhood group'].value_counts()

neighbourhood group
Manhattan        43793
Brooklyn         41843
Queens           13267
Bronx             2712
Staten Island      955
Name: count, dtype: int64

In [20]:
df = df.dropna(axis='index', subset=['neighbourhood group', 'neighbourhood'])

In [21]:
print(df.isna().sum())

id                                    0
NAME                                248
host id                               0
host_identity_verified              281
host name                           405
neighbourhood group                   0
neighbourhood                         0
lat                                   8
long                                  8
country                             529
country code                        128
instant_bookable                    102
cancellation_policy                  73
room type                             0
Construction year                   209
price                               245
service fee                         273
minimum nights                      407
number of reviews                   183
last review                       15889
reviews per month                 15877
review rate number                  324
calculated host listings count      319
availability 365                    436
house_rules                       52118
dtype: int64

In [24]:
df[df['neighbourhood group'] == "Manhattan"]['neighbourhood'].value_counts()

neighbourhood
Harlem                 5463
Hell's Kitchen         3965
Upper West Side        3859
Upper East Side        3679
East Village           3489
Midtown                3390
East Harlem            2339
Chelsea                2284
Lower East Side        1948
Washington Heights     1778
Financial District     1490
West Village           1484
Murray Hill             960
Kips Bay                920
Chinatown               789
Greenwich Village       744
Gramercy                693
SoHo                    685
Morningside Heights     635
Theater District        565
Inwood                  548
Nolita                  530
Tribeca                 345
Little Italy            278
Roosevelt Island        159
Flatiron District       158
NoHo                    140
Two Bridges             132
Battery Park City       118
Civic Center            107
Stuyvesant Town          83
Marble Hill              28
Name: count, dtype: int64

In [25]:
df['country'].value_counts()

country
United States    102025
Name: count, dtype: int64

In [26]:
df['country code'].value_counts()

country code
US    102426
Name: count, dtype: int64

In [29]:
print(df['lat'].max())
print(df['lat'].min())

40.91697
40.49979

In [30]:
print(df['long'].max())
print(df['long'].min())

-73.70522
-74.24984

In [31]:
df = df.drop(columns=['country', 'country code', 'lat', 'long'])
df.count()

id                                102554
NAME                              102306
host id                           102554
host_identity_verified            102273
host name                         102149
neighbourhood group               102554
neighbourhood                     102554
instant_bookable                  102452
cancellation_policy               102481
room type                         102554
Construction year                 102345
price                             102309
service fee                       102281
minimum nights                    102147
number of reviews                 102371
last review                        86665
reviews per month                  86677
review rate number                102230
calculated host listings count    102235
availability 365                  102118
house_rules                        50436
dtype: int64

In [33]:
df['review rate number'].value_counts(normalize=True)

review rate number
5.0    0.228495
4.0    0.228084
3.0    0.227497
2.0    0.225873
1.0    0.090052
Name: proportion, dtype: float64

In [34]:
df = df.dropna(axis='index', subset=['review rate number'])
df.count()

id                                102230
NAME                              101990
host id                           102230
host_identity_verified            101962
host name                         101832
neighbourhood group               102230
neighbourhood                     102230
instant_bookable                  102142
cancellation_policy               102157
room type                         102230
Construction year                 102029
price                             101985
service fee                       101957
minimum nights                    101843
number of reviews                 102048
last review                        86378
reviews per month                  86391
review rate number                102230
calculated host listings count    101979
availability 365                  101808
house_rules                        50278
dtype: int64

In [35]:
manhattan_df = df[df['neighbourhood group'] == "Manhattan"]
brooklyn_df = df[df['neighbourhood group'] == "Brooklyn"]
queens_df = df[df['neighbourhood group'] == "Queens"]
bronx_df = df[df['neighbourhood group'] == "Bronx"]
statenI_df = df[df['neighbourhood group'] == "Staten Island"]

In [39]:
manhattan_df.groupby('neighbourhood')['review rate number'].mean().sort_values(ascending=False)

neighbourhood
Civic Center           3.467290
Financial District     3.423284
Theater District       3.401770
Kips Bay               3.384951
Murray Hill            3.372651
NoHo                   3.345324
Lower East Side        3.321134
East Harlem            3.320617
Two Bridges            3.320611
Midtown                3.310171
Gramercy               3.305355
SoHo                   3.288012
Flatiron District      3.286624
Hell's Kitchen         3.281630
East Village           3.271786
Washington Heights     3.264225
Roosevelt Island       3.264151
Chelsea                3.263065
Upper East Side        3.252112
Morningside Heights    3.250789
West Village           3.248817
Upper West Side        3.241810
Harlem                 3.230911
Battery Park City      3.228814
Greenwich Village      3.223720
Nolita                 3.217803
Stuyvesant Town        3.216867
Chinatown              3.190294
Inwood                 3.183824
Little Italy           3.176259
Tribeca                3.174419
Marble Hill            3.000000
Name: review rate number, dtype: float64